<img src="https://upload.wikimedia.org/wikipedia/fr/8/81/Sciences_SU.png" width="600" height="240" align="center"/>

# <!-- TITLE --> Rendu 


### Objectives :

....


### Etudiants :

- Nom : SAKR                                                         
- Prénom : Mohamed Walid    



- Nom : NABTI        
- Prenom : Anes  

- Nom : FEZAI       
- Prenom : Yousri

- Nom : BOUIN       
- Prenom : Salomé



## 1. Importation des bibliothéques

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from skimage import io, transform
from importlib import reload

## Have a Look

In [30]:
dataset_desc = pd.read_csv('./data/list_attr_celba.csv')
dataset_desc.head()

,file_name,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
0,000001.jpg,0,1,1,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1
1,000002.jpg,0,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
2,000003.jpg,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
3,000004.jpg,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,1,1,0,1
4,000005.jpg,0,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1